[Unit]
Description=Minecraft Bedrock Server Hotel World
After=network.target

[Service]
User=svc-minecraft-hotel
WorkingDirectory=/opt/minecraft/minecraft-hotel
ExecStart=/opt/minecraft/minecraft-hotel/bedrock_server
Restart=on-failure
Nice=5

[Install]
WantedBy=multi-user.target
